html {
  background-color: #E62A61;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
  background: url(https://source.unsplash.com/pJ_DCj9KswI/500x500);
  background-position: center;
  opacity: 60%;
  width: 55%;
  height: 250px;
  border-radius: 5px;
  color: #E62A61;
}

h1 {
  font-size: 45px;
  text-transform: uppercase;
  margin: 40px auto 0;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}
